<html>
<!-- Make the backgroud black. -->
<body style="background-color:black;">
    <!-- Display a stylized text message. -->
    <p style="color:white;font-size:50px;">
        <b>
            EX3 - Flight Gear Web Application.
            Connects to the simulator, displays the plane location and route as an animation. Also supports file operations.
        </b>
    </p>
    <!-- Set the image height and width to fill the entire page. -->
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <!-- Set the image source to the given map image. -->
    <img src="~/Images/june16_sofia-at-night_chc.png" />
</body>
</html>