<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>